@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #f9f9f9;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

/* Mode sombre */
body.dark {
  background-color: #1e1e1e;
  color: #f1f1f1;
}